:root {
    --main-bg:#FFFFFF;
    --title: #1F1F1F;
    --logo-title: #050505;
    --text: #797991;
    --p: #737373;
    --btn-blue: #508FF4;
    --title-blue: #1B6DF1;
    --icons: #508FF4;
    --white: #FFFFFF;
}

@font-face {
    font-family: divFont;
    src: url(../fonts/HKGrotesk-SemiBoldLegacy.otf);
    font-weight: 700;
}


@font-face {
    font-family: gilroyLight;
    src: url(../fonts/Gilroy-Light.ttf);
    font-weight: light;
}

@font-face {
    font-family: gilroyMedium;
    src: url(../fonts/Gilroy-Medium.ttf);
    font-weight: medium;
}

@font-face {
    font-family: gilroyBold;
    src: url(../fonts/Gilroy-Bold.ttf);
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    background-color: #083378;
}

.footer-content {
    display: flex;
    margin: 0 154px 0 180px;
    justify-content: space-between;
}

.footer-content p {
    font-family: gilroyMedium;
    font-size: 16px;
    line-height: 16px;
    color: var(--white);
    padding: 47px 0;
}

.footer-right {
    display: flex;
    gap: 80px;
}

@media screen and (max-width: 700px) {
    
}